*{
    padding:0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
}


#screen{
    width: 100%;
    /* height: 600px; */
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-around;
    /* display: flex; */
    position: relative;
}
#morescreenn{
    

    display: none;
    /* display: block; */
    position: fixed;
    top: 0;
    left: 0;
    width: 23%;
    margin-left: 50px;
    
    /* border: 1px solid red; */
    background-color: #ffffff;
    margin-top: 210px;
    /* padding: 1%; */
    border-radius: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);

}
#morescreenn>div>div:hover{
    background-color: #eceeee;
}
#morescreenn>div>div:nth-child(1){
    margin-bottom: 10px;
    padding: 2%;
    margin-top: 3px;
}
#morescreenn>div>div:nth-child(1)>a{
    text-decoration: none;
    color: #0f1419;
    margin-left: 20px;
    
}
#morescreenn>div>div:nth-child(1)>a>span{
    font-size: 23px;
    font-weight: 600;
    margin-left: 20px;
}
#Draft{
    border-bottom: 1px solid #b7b9bb;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding: 2%;
}

#Draftconenets{
   
    display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        overflow-y: auto;

}
#Draftconenets>div{
    width: 45%;
    /* height: 400px; */
    background-color: white;
    /* border: 1px solid red; */
    border-radius: 10px;
    margin: auto;
    margin-top: 55px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);

}
#theoption{
    display: flex;
}
#theoption>div{
    width: 50%;
    text-align: center;
    padding: 3%;
    /* border: 1px solid red; */
    margin-top: 30px;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid #dbdada;

    
}
#theoption>div:hover{
    background-color: #f1f1f2;
}
#draftsbody{
    width: 80%;
    margin: auto;
    /* border: 1px solid red; */
    padding-bottom: 40px;
}

#draftsbody>img{
 margin-left: 6%;
 padding-top: 40px;
 
 
}
#draftsbody>div{
    /* border: 1px solid red; */
    width: 60%;
    margin: auto;
    margin-bottom: 60px;
}
#draftsbody>div>h1{
font-size: 30px;
}
#draftsbody>div>p{
    color: #707e89;

}

#newclose{
    font-weight: bolder;
    cursor: pointer;

}


#Draftconenets>div>span:nth-child(1){
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
}
#closing>i{
margin-left: 1%;
margin-top: 10px;
/* border: 1px solid slateblue ; */
border-radius: 50%;
padding: 2%;
}
#closing>i:hover{
    background-color: #dbdada;
}
#closing>h1{
    margin-left: 5%;
    margin-top: 20px;
    }
#Draft>a{
    text-decoration: none;
    color: #0f1419;
    margin-left: 20px;
}

#Draft>a>span{
    font-size: 23px;
    font-weight: 600;
    margin-left: 20px;
}

#otherconents{
    /* display: flex; */
    width: 100% ;
    /* border: 1px solid green; */
    position: relative;
    font-size: 18px;
    font-weight: bold;
}
#otherconents>div{
    /* justify-content: space-between; */
    /* border: 2px solid green; */
    padding: 3%;
   
}
#otherconents>div:hover{
    background-color: #eceeee;
}
#otherconents>div>i:nth-child(2){
    /* padding-left: 150px  ; */
    /* border: 1px solid green;      */
    right: 0%;
    position: absolute;

margin-left: 2PX;}




#options{
    flex: 1;
    width: 22%;
    height: 100%;
    /* border: 1px solid blue; */
    overflow: auto;
    padding: 1rem;
    background: white;
    direction: ltr;
    position: fixed;
    left: 0%;
    
}


#options>div:nth-child(1){
    width: 85%;
    /* border: 5px solid black; */
    margin: auto;
}
#options>div:nth-child(1)>div:nth-child(1){
   color: #1d9bf0;
   margin-top: 4%;
}

/* #options>div:nth-child(1)>div:nth-child(2){
    /* border: 1px solid black; */



#options>div:nth-child(1)>div:nth-child(2)>div{
    /* border: 1px solid black; */
    padding: 10%;
    border-radius: 25px;
    font-size: 3.3vh;
    
}

#options>div:nth-child(1)>div:nth-child(2)>div>a{
    color: #0f1419;
    text-decoration: none;
}
#options>div:nth-child(1)>div:nth-child(2)>div:hover{
    background-color: #eff3f4;
}

#options>div:nth-child(1)>div:nth-child(2)>div>a>span{
    margin-left: 10%;
    text-decoration: none;
    font-size: 3.3vh;
}

#options>div:nth-child(1)>div:nth-child(3){
    padding: 10%;
    border-radius: 25px;
    font-size: 3vh;
    font-weight: bold;
    letter-spacing: 1px;
    color: #0f1419;
    background-color: #1d9bf0;
    color: #eff3f4;
    text-align: center;
}
#options>div:nth-child(1)>div:nth-child(4){
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
}

#options>div:nth-child(1)>div:nth-child(4)>div{
    /* border: 1px solid black; */
    align-items: center;
}

#options>div:nth-child(1)>div:nth-child(4)>div:nth-child(1){
    display: flex;
}

#options>div:nth-child(1)>div:nth-child(4)>div:nth-child(1)>img{
    /* border: 1px solid black; */
    width: 30%;
    border-radius: 50%;
}

#options>div:nth-child(1)>div:nth-child(4)>div:nth-child(2){
   margin-top: auto;
   margin-bottom: auto;
}


#tweets{
    width: 48%;
    /* height: 600px; */
    /* border: 1px solid blue; */
    margin-left: 48vh;
   /* margin-left: 100px; */
   /* padding-top: 7%; */
   
}
#Connect-nav{
    width: 48%;
    /* border: 1px solid red; */
    /* height: 100px; */
    position: fixed;
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: white;
    opacity: 90%;
}
#Connect-nav>h1{
    font-size: 20px;
    margin-left: 25px;
    margin-top: -5px;
}
#Connect-nav>i{
    margin-left: 25px;
}



#lists{
    margin-top: 60px;
    width: 99.94%;
  
    border-bottom:1PX SOLID #dbdada;
    
}
#lists>H2{
    font-size: 21px;
    margin-bottom: 10px;
}
#lists>div{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
#lists>div:hover{
    background-color: #f2f2f2;
}
#lists>div>div:nth-child(1){
    width: 60%;
    /* border: 1px solid rgb(0, 255, 21); */
    display: flex;
}
#lists>div>div:nth-child(1)>img:nth-child(1){
    width: 15%;
    /* border: 1px solid red; */
    height: 60px;
    border-radius: 50%;
}
#lists>div>div:nth-child(1)>div{
  
   /* border: 1px solid red; */
   margin-left: 5%;
}

#lists>div>div:nth-child(1)>div>span:nth-child(1){
  
    /* border: 1px solid red; */
    font-weight: bold;
    /* margin-left: 5%; */
 }
 #lists>div>div:nth-child(1)>div>span:nth-child(1)>i{
    color: #707e89;
 }

 

 #lists>div>div:nth-child(1)>div>p:nth-child(2){
  
    /* border: 1px solid red; */
    color: #707e89;
   align-items: center;
  
   
    /* margin-left: 5%; */
 }

 #lists>div>div:nth-child(1)>div:nth-child(2)>p:nth-child(3)>img{
  width: 10%;
  height: 15%;
   border-radius: 50%;
    border: 1px solid white;
    color: #a5a6a7;
    /* margin-left: 5%; */
 }

 #button{
    border-radius: 30px;
    width: 12%;
    height: 40px;
    font-weight: bold;
    background-color: #0f1419;
    color: white;
   
 }

#otheroptions{
    width: 30%;
    height: 100%;
    /* height: 600px; */
    /* border: 1px solid blue; */

    overflow:auto;
    padding: 1rem;
    position: sticky;
    right: 0;
    border-left: 1px solid #b7b9bb;
    
}

#otheroptions>div:nth-child(1){
    width: 95%;
    height: 100%;
    /* border: 1px solid blue; */
    margin: auto;
   
    
}

#otheroptions>div:nth-child(1)>div:nth-child(1){
    width: 100%;
    /* border: 1px solid red; */
    /* padding: 4%; */
    border-radius: 25px;
    color: rgb(161, 161, 161);
   
    padding-left: 4%;
    padding-top: 1%;
    background-color: #eff3f4;
}

#otheroptions>div:nth-child(1)>div:nth-child(1)>input{
    padding: 3%;
    font-size: large;
    margin-left: 3vh;
    border: none;
    background-color: transparent;
}

#otheroptions>div:nth-child(1)>div:nth-child(2){
    line-height: 30px;
    /* border: 1px solid black; */
    padding-bottom: 2%;
    padding: 3%;
    border-radius: 25px;
    margin-top: 5%;
    background-color: #eff3f4;
}

#otheroptions>div:nth-child(1)>div:nth-child(2)>p{
    font-weight: bold;
    margin-bottom: 10px;
}

#otheroptions>div:nth-child(1)>div:nth-child(2)>p>b{
    font-size: 25px;
}
#otheroptions>div:nth-child(1)>div:nth-child(2)>span{
    border: 1px solid black;
    padding: 2.3%;
    border-radius: 25px;
    font-size: large;
    font-weight: bold;
    background-color: #0f1419;
    color: white;
    
}

#otheroptions>div:nth-child(1)>div:nth-child(3){
    width: 100%;
    /* border: 1px solid red; */
    padding: 5%;
    margin-top: 3vh;
    border-radius: 25px;
    background-color: #eff3f4;
    
}

#otheroptions>div:nth-child(1)>div:nth-child(3)>div{
    margin-top: 3vh;
}
#otheroptions>div:nth-child(1)>div:nth-child(3)>div:hover{
    background-color: #f9fafa;
}




#otheroptions>div:nth-child(1)>div:nth-child(3)>div>p:nth-child(1){
    /* width: 100%; */
    color: #b7b9bb;
}

#otheroptions>div:nth-child(1)>div:nth-child(3)>div>p:nth-child(3){
    /* width: 100%; */
    color: #b7b9bb;
}

#otheroptions>div:nth-child(1)>div:nth-child(3)>div>p:nth-child(2){
    /* width: 100%; */
    color: #0f1419;
    font-size: larger;
    font-weight: bold;
}

#otheroptions>div:nth-child(1)>div:nth-child(4){
    width: 100%;
    /* border: 1px solid red; */
    padding: 5%;
    margin-top: 3vh;
    border-radius: 25px;
    background-color: #eff3f4;
    
}

#otheroptions>div:nth-child(1)>div:nth-child(4)>div{
    width: 100%;
    display: flex;
    margin-top: 5vh;
}

#otheroptions>div:nth-child(1)>div:nth-child(4)>div>img{
    width: 15%;
    display: flex;
}

#otheroptions>div:nth-child(1)>div:nth-child(4)>div>p{
    font-weight: bold;
    color: #0f1419;
    margin-left: 15px;
}

#otheroptions>div:nth-child(1)>div:nth-child(4)>div>p>span{
    color: #b7b9bb;
}

#otheroptions>div:nth-child(1)>div:nth-child(4)>div>span{
    margin-left: 15vh;
    height: 30px;
   /* border: 1px solid red; */
    color: white;
    padding: 2%;
    border-radius: 15px;
    margin-top: 10px;
    background-color: #0f1419;
}



