*{
    padding:0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
}


#screen{
    width: 100%;
    /* height: 600px; */
    /* border: 1px solid blue; */
    display: flex;
}

#options{
    width: 20%;
    height: 100%;
    /* border: 1px solid blue; */
    overflow: auto;
    padding: 1rem;
    background: white;
    direction: ltr;
    position: fixed;
    
}


#options>div:nth-child(1){
    width: 85%;
    /* border: 5px solid black; */
    margin: auto;
}
#options>div:nth-child(1)>div:nth-child(1){
   color: #1d9bf0;
   margin-top: 4%;
}

/* #options>div:nth-child(1)>div:nth-child(2){
    /* border: 1px solid black; */



#options>div:nth-child(1)>div:nth-child(2)>div{
    /* border: 1px solid black; */
    padding: 10%;
    border-radius: 25px;
    font-size: 3.3vh;
    
}

#options>div:nth-child(1)>div:nth-child(2)>div>a{
    color: #0f1419;
    text-decoration: none;
}
#options>div:nth-child(1)>div:nth-child(2)>div:hover{
    background-color: #eff3f4;
}

#options>div:nth-child(1)>div:nth-child(2)>div>a>span{
    margin-left: 10%;
    text-decoration: none;
    font-size: 3.3vh;
}

#options>div:nth-child(1)>div:nth-child(3){
    padding: 10%;
    border-radius: 25px;
    font-size: 3vh;
    font-weight: bold;
    letter-spacing: 1px;
    color: #0f1419;
    background-color: #1d9bf0;
    color: #eff3f4;
    text-align: center;
}
#options>div:nth-child(1)>div:nth-child(4){
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
}

#options>div:nth-child(1)>div:nth-child(4)>div{
    /* border: 1px solid black; */
    align-items: center;
}

#options>div:nth-child(1)>div:nth-child(4)>div:nth-child(1){
    display: flex;
}

#options>div:nth-child(1)>div:nth-child(4)>div:nth-child(1)>img{
    /* border: 1px solid black; */
    width: 30%;
    border-radius: 50%;
}

#options>div:nth-child(1)>div:nth-child(4)>div:nth-child(2){
   margin-top: auto;
   margin-bottom: auto;
}

#tweets{
    width: 48%;
    /* height: 600px; */
    /* border: 1px solid blue; */
    margin-left: 43.5vh;
   /* margin-left: 100px; */
}

#tweets>div:nth-child(1){
   width: 48%;
   height: 50px;
   /* border: 1px solid red;  */
   display: flex;
   justify-content: space-around;
   position: fixed;
   top: 0px;
   background-color: rgba(255, 255, 255, 0.9);
   
}
#tweets>div:nth-child(1)>div{
    /* border: 1px solid red; */
    width:80% ;
    border-radius: 30px;
    padding: 1.5%;
    background-color: rgba(238, 236, 236, 0.9);
   
}
#tweets>div:nth-child(1)>div>input{
    width: 95%;
    padding: 0.5%;
    border: none;
    outline: none;
    background-color:rgba(238, 236, 236, 0.9);
}
#tweets>div:nth-child(1)>div>i{
    width: 5%;
    align-items: center;
    padding-left: 1%;
    color: #536471;
   
}
#tweets>div:nth-child(1)>i{
    margin-left: 3%;
    margin-top: 2%;
}
#tweets>div:nth-child(2){
    display: flex;
    margin-top: 5%;
}

#tweets>div:nth-child(2)>div{
    /* border: 1px solid blue; */
   width: 20%;
    padding: 2%;
    font-weight: bold;
   text-align: center;
   border-bottom: 1px solid #c8cbcc;
  /* position: relative; */
  margin-top: 5%;

   
}

#tweets>div:nth-child(2)>div:hover{
    background-color: #eff3f4;
}




#tweets>div:nth-child(3){
    /* border: 5px solid red; */
    padding-left: 2%;
    width: 100%;
    border-bottom: 1px solid #c8cbcc;
    margin-bottom: 5%;
}

#tweets>div:nth-child(3)>div:nth-child(1){
    width: 100%;
    /* border: 1px solid red; */
    /* height: 100px; */
}
#tweets>div:nth-child(3)>div:nth-child(2)>div{
    margin-top: 2%;
    width: 100%;
    /* margin-bottom: 2%; */
}
#tweets>div:nth-child(3)>div:nth-child(2)>div>p:nth-child(1){
    display: flex;
    /* padding-right: 100px; */
    width: 100%;
    flex-wrap: nowrap;
}

#tweets>div:nth-child(3)>div:nth-child(2)>div>p:nth-child(1)>i{
    /* border: 1px solid red; */
    margin-left: 78%;
    
}
#tweets>div:nth-child(3)>div:nth-child(2)>div>p,span{
  color: #536471;
  font-weight: 450;  
}
#tweets>div:nth-child(3)>div:nth-child(2)>div>h6{
    font-size:14px;
    color: #0f1419;
}
#tweets>div:nth-child(3)>div:nth-child(2)>div>span:nth-child(4){
    font-size:medium;
    color:#1d9bf0;
}






#tweets>div:nth-child(4){
    width: 100%;
    /* height: 600px; */
    /* border: 1px solid rgb(50, 170, 26); */
    display: flex;
    line-height: 30px;
}

#tweets>div:nth-child(4):hover{
    background-color: #f5f9fa;
}


#tweets>div:nth-child(4)>div:nth-child(1){
    width: 10%;
    /* height: 100px; */
    /* border: 1px solid rgb(50, 170, 26); */
}

#tweets>div:nth-child(4)>div:nth-child(1)>img{
    width: 100%;
    padding: 10%;
}

#tweets>div:nth-child(4)>div:nth-child(2)>p>span{
    color: #1d9bf0;
}

#tweets>div:nth-child(4)>div:nth-child(2){
    width: 90%;
    /* height: 100px; */
    /* border: 1px solid rgb(50, 170, 26); */
}

#tweets>div:nth-child(5){
    width: 100%;
    height: 600px;
    /* border: 10px solid rgb(50, 170, 26); */
    display: flex;
    margin-top: 5vh;
    line-height: 25px;
}


#tweets>div:nth-child(5):hover{
    background-color: #f5f9fa;
}

#tweets>div:nth-child(5)>div:nth-child(1){
    width: 10%;
    /* height: 100px; */
    /* border: 1px solid rgb(50, 170, 26); */
}

#tweets>div:nth-child(5)>div:nth-child(1)>img{
    width: 100%;
    padding: 10%;
}

#tweets>div:nth-child(5)>div:nth-child(2){
    width: 90%;
    /* height: 100px; */
    /* border: 1px solid rgb(50, 170, 26); */
}

#tweets>div:nth-child(5)>div:nth-child(2)>p:nth-child(2)>video{
    width: 100%;
    border-radius: 25px;
}

#tweets>div:nth-child(5)>div:nth-child(2)>p>span{
    color: #1d9bf0;
}

#otheroptions{
    width: 32%;
    height: 100%;
    /* height: 600px; */
    /* border: 1px solid blue; */

    /* overflow:auto; */
    padding: 1rem;
    position: fixed;
    right: 0;
    border-left: 1px solid #b7b9bb;
    
}

#otheroptions>div:nth-child(1){
    width: 95%;
    height: 100%;
    /* border: 1px solid blue; */
    margin: auto;
   
   
    
}



#peopletofollow{
    width: 100%;
    /* border: 1px solid red; */
    padding: 5%;
    /* margin-top: 1vh; */
    border-radius: 25px;
    background-color: #eff3f4;

}

#peopletofollow>div {
    width: 100%;
    display: flex;
    margin-top: 5vh;
}

#peopletofollow>div>img {
    width: 15%;
    height: 50px;
    display: flex;
    border-radius: 50%;
}

#peopletofollow>div>p {
    font-weight: bold;
    color: #0f1419;
    margin-left: 15px;
}

#peopletofollow>div>p>span {
    color: #b7b9bb;
}

#peopletofollow>div>span {
    margin-left: 15vh;
    height: 30px;
    /* border: 1px solid red; */
    color: white;
    padding: 2%;
    border-radius: 15px;
    margin-top: 10px;
    background-color: #0f1419;
}






